body {
    margin: 0;
    padding: 0;
}

.app-wrap {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #eee;

    height: 100vh;

    display: flex;
    flex-direction: column;
}


.content {
    flex-grow: 1;
}
